extends ../layouts/application.pug
include ../mixins/userForm.pug

block content
  h1= t('views.users.edit.title')

  if user
    +userForm(`/users/${user.id}`, "post", user, errors)
      input(type="hidden" name="_method" value="PATCH")
  else
    p.text-danger= t('flash.users.edit.notFound')