extends ../layouts/application.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.statuses.new.title')

  +formFor()(action='/statuses' method='post')
    +floatingFormInput(status, 'name', errors, t('views.statuses.new.label'))(type="text")
    +submit(status)(value=t('views.statuses.new.submit'))
