extends ../layouts/application.pug
include ../mixins/statusForm.pug

block header
  h1= t('views.statuses.new.title')

block content
  +statusForm("/statuses", "post", t('views.statuses.new.submit'), statuses, errors)
  