html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Если нужно скрыть прокрутку, можно добавить */
}

main {
  flex-grow: 1; /* Это позволит содержимому "занимать" доступное пространство */
  overflow-y: auto; /* Если нужно, чтобы внутренний контент прокручивался */
}
