extends ../layouts/application.pug

block header
  h1= t('views.labels.edit.title')

block content
  +formFor()(action=`/labels/${label.id}` method='post')
    +floatingFormInput(label, 'name', errors, t('views.labels.edit.label'))(type="text")
    input(name="_method" type="hidden" value="patch")
    +submit(label)(value=t('views.labels.edit.submit'))