extends ../layouts/application.pug
include ../mixins/taskForm.pug

block header
  h1= t('views.tasks.edit.title')

block content
  if task
    +taskForm(`/tasks/${task.id}`, "patch", task, errors, statuses, executors, labels)
      input(type="hidden" name="_method" value="PATCH")
  else
    p.text-danger= t('flash.tasks.edit.notFound')
